[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
python-dotenv = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-login = "*"
flask-mail = "*"
pyjwt = "*"
flask-bootstrap4 = "*"
flask-moment = "*"
gunicorn = "*"
psycopg2 = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.7"
