    <table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="{{ url_for('user', username=rating.author.username) }}">
                    <img src="{{ rating.author.avatar(70) }}" />
                </a>
            </td>
            <td>
                <a href="{{ url_for('user', username=rating.author.username) }}">
                    {{ rating.author.username }}
                </a>
                rated <a href="{{ url_for('waifus', url=Waifu.query.filter_by(id=rating.waifu_id).first_or_404().url) }}">{{ Waifu.query.filter_by(id=rating.waifu_id).first_or_404().name }}</a> {{ moment(rating.timestamp).fromNow() }}:
                <br>
                <strong>Appearance: </strong>{{ rating.appearance }}
                <br>
                <strong>Personality: </strong>{{ rating.personality }}
                <br>
                <strong>Combat Ability: </strong>{{ rating.strength }}
                <br>
                <strong>Intelligence: </strong>{{ rating.intelligence }}
                <br>
                <strong>Would you?: </strong>{{ rating.wouldyou }}
                <br>
                <br>
                {{ rating.body }}
            </td>
        </tr>
    </table>
