{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
  <div class="row">
    <div class="col-sm-3">
      <img src='/static/{{ anime.image }}' alt='Cover Image' style="width:100%">
    </div>

    <div class="col-sm-9">
      <div class="jumbotron">
        <h2 class="display-4">{{ anime.name }}</h2>
        <p class="lead">Premiered: {{ anime.season + ' ' + anime.year}}</p>
        <p class="lead">Number of Episodes: {{ anime.num_episodes }}</p>
        <hr class="my-4">
        <p>{{ anime.description }}</p>
      </div>
    </div>
  </div>
{% endblock %}
