{% extends 'bootstrap/base.html' %}

{% block title %}
  {% if title %}{{ title }} - RateMyWaifu{% else %}RateMyWaifu{% endif %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{{ url_for('index') }}">
    <img src='/static/ratemywaifu-logo.png' alt='Logo'>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Browse
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ url_for('browse_waifus') }}">Waifus</a>
          <a class="dropdown-item" href="{{ url_for('browse_anime') }}">Anime</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Upload
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ url_for('upload', category='waifu') }}">Waifu</a>
          <a class="dropdown-item" href="{{ url_for('upload', category='anime') }}">Anime</a>
        </div>
      </li>
    </ul>
<!--    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
    </form>-->
	<form class="form-inline" action="/search" method="post">
		<input class="form-control mr-sm-2" type="text" placeholder="Search" name="searchTerm" aria-label="Search" required>
		<button class="btn btn-outline-info my-2 my-sm-0" type="submit" value="search">Search</button>
    </form>
    <ul class="navbar-nav mr-sm-0">
      {% if current_user.is_anonymous %}
        <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Login</a></li>
      {% else %}
        <li class="nav-item"><a class="nav-link" href="{{ url_for('user', username=current_user.username) }}">Profile</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Logout</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}
