{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Browse Anime</h1>

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Season</th>
          <th scope="col">Year</th>
          <th scope="col">Number of Episodes</th>
          <th scope="col">ESRB Rating</th>
        </tr>
      </thead>
      <tbody>
        {% for anime in animes %}
            <tr>
              <td><a href="/anime/{{ anime.url }}">{{ anime.name }}</a></td>
              <td>{{ anime.season }}</td>
              <td>{{ anime.year }}</td>
              <td>{{ anime.num_episodes }}</td>
              <td>{{ anime.esrb }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>

{% endblock %}
