{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Browsing Waifus</h1>

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Anime</th>
        </tr>
      </thead>
      <tbody>
        {% for waifu in waifus %}
            <tr>
              <td><a href="/waifus/{{ waifu.url }}">{{ waifu.name }}</a></td>
              {% if Anime.query.filter_by(name=waifu.anime_name).count() > 0 %}
                <td><a href="/anime/{{ Anime.query.filter_by(name=waifu.anime_name).first_or_404().url }}">{{ waifu.anime_name }}</a></td>
              {% else %}
                <td>{{ waifu.anime_name }}</td>
              {% endif %}
            </tr>
        {% endfor %}
      </tbody>
    </table>

{% endblock %}
