{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Browse Waifus</h1>

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Anime</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="characters/asuna_yuuki">Asuna Yuuki</a></td>
          <td><a href="swordartonline">Sword Art Online</a></td>
        </tr>
        <tr>
          <td><a href="characters/mikasa_ackermann">Mikasa Ackermann</a></td>
          <td>Attack on Titan</td>
        </tr>
        <tr>
          <td>Sakura</td>
          <td>Naruto</td>
        </tr>
      </tbody>
    </table>

{% endblock %}
