{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
  <div class="jumbotron p-0">
    <div class="view overlay rounded-top">
      <img src="/static/ratemywaifu-mascot.jpg" class="img-fluid" alt="Sample image">
    </div>
    <div class="card-body text-center mb-3">
      {% if current_user.is_authenticated %}
        <h3 class="card-title h3 my-4"><strong>Welcome to RateMyWaifu, {{ current_user.username }}!</strong></h3>
      {% else %}
        <h3 class="card-title h3 my-4"><strong>Welcome to RateMyWaifu!</strong></h3>
      {% endif %}
      <p class="card-text py-2">RateMyWaifu is the premier destination to let others know how you really feel about their Waifu.</p>
    </div>
  </div>

  {% for rating in ratings %}
      {% include '_rating.html' %}
  {% endfor %}

  <nav aria-label="...">
    <ul class="pagination justify-content-center">
      {% for i in range(1, num_ratings+1) %}
        {% if i == page %}
          <li class="page-item active">
            <span class="page-link">
              {{ page }}
              <span class="sr-only">(current)</span>
            </span>
          </li>
        {% else %}
          <li class="page-item"><a class="page-link" href="{{ url_for('index', page=i) }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>

<!-- Previous and Next buttons for pagination.

      <li class="page-item disabled">
        <span class="page-link">Previous</span>
      </li>

      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>

-->

{% endblock %}
